/* google font */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;500&family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.container {
    padding: 50px 150px;
}

.header-bg {
    background-color: #FF900E1A;
}

/* Header Section */

.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.navigation-link ul {
    display: flex;
}

.navigation-link ul li {
    list-style: none;
}

.navigation-link ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
    margin-left: 45px;
}

.header-content {
    text-align: center;
    margin-top: 90px;
}

.header-content img {
    width: 100%;
}

.header-title {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
}

.header-text {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin: 30px 0;
}

.explore-btn {
    width: 180px;
    height: 64px;
    border: none;
    background-color: #FF900E;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    border-radius: 8px;
    margin-bottom: 50px;
}

/* Features Section */

.features {
    display: flex;
    align-items: center;
}

.features-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.features-img img {
    width: 100%;
}

.features-text {
    margin-left: 75px;

}

.features-title {
    font-weight: 500;
    font-size: 45px;
}

.features-description {
    margin: 32px 0;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.text-color {
    color: #FF900E;
    font-weight: 700;
    font-size: 45px;
}

.text-size {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.quick-color {
    color: #727272;
}


.popular-features {
    display: flex;
    align-items: center;
}

.popular-feature {
    margin-bottom: 20px;
    margin-right: 34px;
    padding: 10px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.popular-features-img img {
    width: 100%;
}

.popular-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.popular-text {
    color: #727272;
    margin: 15px 0;
    margin-right: 54px;
}

.service-title {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    margin-top: 10px;
}

.service-text {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.experience-btn {
    padding: 20px 25px;
    background-color: #FF900E;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
}
.popular-features-img {
    position: relative;
    margin-left: 10px;
}
.btn-div {
    position: absolute;
    bottom: -90px;
    left: -30px;
}

.year {
    font-weight: 700;
    font-size: 65px;
}

.experience {
    font-weight: 500;
    font-size: 25px;
}

/* facts section */

.facts-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 25px;
}

.facts-text {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 100px;
}

.our-achievements {
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
}

.achievement {
    border: 1px solid #FF900E;
    padding: 25px 20px;
    border-radius: 8px;
    text-align: center;
    /* width: 241.83px;
    height: 241.83px; */
}
.achievement:hover {
    transform: scale(1.5);
}

.achievement-counts {
    font-weight: 600;
    font-size: 40px;
    color: #424242;
}

.achievement-name {
    font-weight: 600;
    font-size: 16px;
    color: #727272;
}

/* sponsors section */

.sponsors-description {
    text-align: center;
    margin-bottom: 50px;
}

.sponsors-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 25px;
}

.sponsors-text {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.company {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.company img:nth-of-type(n) {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
 }

 /* Extra section */
.feedback-title {
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 50px;
}
.clients {
    display: flex;
    gap: 30px;
}
.client {
    text-align: center;
    /* border: 1px solid grey; */
    padding: 35px 30px;
    box-shadow: 5px 5px 5px gray;
    border-radius: 8px;
}
.fa-face {
    font-size: 40px;
}
.client-name {
    margin: 20px 0;
}
/* footer section */

.copy-right {
    background-color: #FFF4E7;
    text-align: center;
    padding: 35px 30px;
    font-weight: 400;
    font-size: 20px;
    color: #424242;
    border-radius: 8px;
}


/* Responsive */

@media screen and (max-width: 556px) {

    /* header navigation section */

    .container {
        padding: 50px 100px;
        text-align: center;
    }
    .header-navigation {
        flex-direction: column;
    }
    .navigation-link ul {
        flex-direction: column;
    }

    /* Feature section */

    .features {
        flex-direction: column;
    }
    .features-img {
        grid-template-columns: repeat(1, 1fr);
    }
    .features-text {
        text-align: center;
    }

    /* popular features */

    .popular-features{
        flex-direction: column;
        text-align: center;
    }

    /* achievement section */

    .our-achievements {
        flex-direction: column;
        padding: 0;
    }
    .achievement {
        margin-bottom: 20px;
    }

    /* sponsor section */

    .company {
        flex-direction: column;
    }
    .company img {
        margin-bottom: 20px;
    }

    /* feedback section */

    .clients {
        flex-direction: column;
    }
}